{% if languages|length > 1 %}

<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
<ul class="languages list-inline m-0">
  {% for language in languages %}
  <li class="list-inline-item"><a href="#" data-name="{{ language.code }}" {% if language.code == code %} class="active"{% endif %}>{{ language.name }}</a></li>
  {% endfor %}
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="{{ redirect }}" />
</ul>
</form>
{% endif %}